# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
pip-log.txt
pip-delete-this-directory.txt

# cursor files
.cursorignore
./cursor/index.mdc

# Зависимости
node_modules/
package-lock.json
yarn.lock

# Файлы с приватными ключами
.env
private-keys.js
# Оставляем env.example для примера

# Логи
*.log
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Резервные копии
*.bak
*.backup

# gitnore
.gitignore
